zVirtualDesktop/Service References/Zomp/ZompWebService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Net.Mime" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Net.Mime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://zomp.co/z/ZompWebService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ContentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boundary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CharSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentType" nillable="true" type="tns:ContentType" />
  <xs:simpleType name="TransferEncoding">
    <xs:restriction base="xs:string">
      <xs:enumeration value="QuotedPrintable" />
      <xs:enumeration value="Base64" />
      <xs:enumeration value="SevenBit" />
      <xs:enumeration value="EightBit" />
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransferEncoding" nillable="true" type="tns:TransferEncoding" />
</xs:schema>